@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}
.custom-grid-cols {
    grid-template-columns: repeat(5, 350px);
}
.custom-height {
    height: 91vh
}
.custom-width {
    width: 100vh;
}
